@model MBrand.Models.TextContent
@section Scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Controls/ckeditor/ckeditor.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Controls/ckeditor/adapters/jquery.js")"></script>
    <script type="text/javascript">
        $(function () {
            $("textarea").ckeditor(function () { }, { toolbar: "Media", uiColor: "#999", contentsCss: "/Content/Site.css" });

            $("#Name").attr("data-val", false);
            $('form').removeData('unobtrusiveValidation');
            $('form').removeData('validator');
            $.validator.unobtrusive.parse('form');
        });
    </script>
}
@using (Html.BeginForm(new { controller = "Content", action = "Edit", area = "Admin" }))
{
    @Html.Hidden("redirectTo", (string)ViewBag.RedirectTo)
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Name)

    <div class="editor-label">
        @Html.LabelFor(model => model.Title)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Title)
        @Html.ValidationMessageFor(model => model.Title)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Text)
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(model => model.Text)
        @Html.ValidationMessageFor(model => model.Text)
    </div>

    <p>
        <input type="submit" value="Сохранить" />
    </p>
}
<div>
    <a href="@ViewContext.RouteData.Values["redirectUrl"]">Вернуться</a>
</div>
