<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/Site.css")
    @Scripts.Render("~/Scripts/jquery-1.10.2.min.js", "~/Scripts/jquery.unobtrusive-ajax.min.js")
    @if (Request.IsAuthenticated)
    { 
        @Styles.Render("~/Content/Admin.css")
        @Scripts.Render("~/bundles/admin") 
    }    
    @RenderSection("scripts", false)
</head>
<body>
    <div id="main">
        @{Html.RenderPartial("Header");}
        @{Html.RenderAction("Menu", new {controller = "Home", id=ViewBag.Id});}
        @RenderBody()
        @{Html.RenderPartial("Footer");}
    </div>
</body>
</html>
