<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @RenderSection("meta", false)

    @Styles.Render("~/Content/Site.css")
    @Scripts.Render("~/bundles/js/common")
    @if (Request.IsAuthenticated)
    { 
        @Styles.Render("~/Content/Admin.css")
        @Scripts.Render("~/bundles/js/admin") 
    }    
    @RenderSection("scripts", false)
    <title>
        Супер майки - @ViewBag.Title
    </title>
</head>
    <body>
        <div id="main">
            @{Html.RenderPartial("Header");}
            @{Html.RenderAction("Menu", new {controller = "Home", id=ViewBag.Id});}
            @RenderBody()
            @{Html.RenderPartial("Footer");}
        </div>
        @RenderSection("outer", false)
    </body>
</html>
