@model MBrand.Models.Work
@{
    ViewBag.Title = "Студия Евгения Миллера" + ((Model == null) ? string.Empty : Model.Title);
    string actionName = (string)ViewContext.RouteData.Values["action"];
}
@section Scripts
{
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="/Controls/ckeditor/ckeditor.js" type="text/javascript"></script>
    <script src="/Controls/ckeditor/adapters/jquery.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $("#Text").ckeditor(function () { }, { toolbar: "Media", height:600 });
            $("#SideBarText").ckeditor(function () { }, { toolbar: "Tiny", uiColor: "#fff", width:220 });
        })
    </script>
    @if (actionName == "Edit")
    {
        <script type="text/javascript">
            $(function () {
                $("#Name").attr("data-val", false);
                $('form').removeData('unobtrusiveValidation');
                $('form').removeData('validator');
                $.validator.unobtrusive.parse('form');
                $("#submit").click(function() {
                    submitClicked = true;
                });
            });

            var submitClicked = false;

            $(window).bind("beforeunload", function() {
                if (!submitClicked) {
                    return "Точно свалить?";
                }
            });
        </script>
    }
}
@using (Html.BeginForm(actionName, "Works", new { area = "Admin" }, FormMethod.Post, new { enctype = "multipart/form-data", style = "padding-top:40px;" }))
{
    @Html.Hidden("redirectTo", (string)ViewBag.RedirecTo)
    if (Model != null)
    {
        @Html.Hidden("_id", Model.Id)
    }
    else
    {
        @Html.Hidden("workGroupId")
    }
    @Html.ValidationSummary(true)
    
    <div class="editor-label">
        @Html.LabelFor(model => model.SortOrder)&nbsp;
        @Html.EditorFor(model => model.SortOrder)
        @Html.ValidationMessageFor(model => model.SortOrder)
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        @Html.LabelFor(model => model.Image)&nbsp;
        <input type="file" name="workImage" id="workImage" />
    </div>
    <br />
    <div class="editor-label">
        @Html.LabelFor(model => model.Name)
        &nbsp;
        @Html.EditorFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name)
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        @Html.LabelFor(model => model.Title)
        &nbsp;
        @Html.EditorFor(model => model.Title)
        @Html.ValidationMessageFor(model => model.Title)
    </div>
    <br />
    <div class="editor-label">
        @Html.LabelFor(model => model.Description)
        &nbsp;&nbsp;
        @Html.TextBoxFor(model => model.Description, new { style = "width:424px;" })
        @Html.ValidationMessageFor(model => model.Description)
    </div>
    <br/>
    <div class="editor-label">
        @Html.LabelFor(model => model.SideBarText)
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(model => model.SideBarText)
        @Html.ValidationMessageFor(model => model.SideBarText)
    </div>
    <br />
    <br />
    <div class="editor-label">
        @Html.LabelFor(model => model.Text)
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(model => model.Text)
        @Html.ValidationMessageFor(model => model.Text)
    </div>
    <br />
    <div class="editor-label">
        @Html.LabelFor(model => model.BottomImage)
    </div>
    <div class="editor-field">
        <input type="file" name="workBottomImage" id="workBottomImage" />
    </div>

    <p style="float:right; margin-top:-20px;">
        <input type="submit" value="Сохранить" id="submit" />
    </p>
}
<div>
    <a href="@ViewBag.RedirecTo">Назад</a>
</div>
