@model IEnumerable<Jackson.Models.Item>
@section scripts
{
    <script>
        var GroupId = '@ViewBag.Id';
    </script>
}


<div id="content">
    <ul id="items">
        @foreach (var item in Model)
        {
            <li data-id="@item.Id">
                <a href="@Url.Content("~/Files/" + ViewBag.Id + "/" + item.ImageUrl)">
                    <img alt="@item.Id" src="@Url.Content("~/Files/" + ViewBag.Id + "/_thumbs/" + item.ThumbnailUrl)"/>
                </a>
            </li>  
        }
    </ul>
</div>
@{Html.RenderPartial("AdminUpload");}
