<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Студия Евгения Миллера</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Works.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/StartPage.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.mousewheel.min.js")"></script>
    @if (!((Route)ViewContext.RouteData.Route).Url.StartsWith("Admin"))
    {
        
        <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.address-1.4.min.js")"> </script>
        <script type="text/javascript" src="http://bxslider.com/sites/default/files/jquery.bxSlider.min.js"> </script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/jsrender.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/mscorlib.js")"> </script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/MBrand.Client.debug.js")")> </script>
    }
    else
    {
        <link href="@Url.Content("~/Content/AdminPage.css")" rel="stylesheet" type="text/css" />
    }
    @if (Request.IsAuthenticated)
    {
        @:<link href="@Url.Content("~/Content/Admin.css")" rel="stylesheet" type="text/css"/>
    }
    @if (Request.UserAgent.ToLowerInvariant().Contains("webkit"))
    { 
        @:<link href="@Url.Content("~/Content/Webkit.css")" rel="stylesheet" type="text/css"/>
    }
    @RenderSection("Scripts", required: false)
    
    <script type="text/javascript">
        var SiteRoot = "@Url.Content("~/").TrimEnd('/')";
    </script>
</head>
<body>
    @*<div class="trace"></div>*@
    @{Html.RenderPartial("TopMenu");}
    <div id="page">
        @RenderBody()
    </div>
    @{Html.RenderPartial("Footer");}
</body>
</html>
