<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#">
<head>
    <meta charset="utf-8" />
    <meta name="google-site-verification" content="agTeQlPTdwrpR3rSvT7ptoNTY0kamSOGcsbo49z2NTo" />
    @{Html.RenderPartial("FacebookMetaTags");}
    <title>Студия Евгения Миллера</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Works.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/StartPage.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.mousewheel.min.js")"></script>
    @if (!((Route)ViewContext.RouteData.Route).Url.StartsWith("Admin"))
    {
        
        <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.address-1.4.min.js")"> </script>
        <script type="text/javascript" src="http://bxslider.com/sites/default/files/jquery.bxSlider.min.js"> </script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/jsrender.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/mscorlib.js")"> </script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/MBrand.Client.debug.js")")> </script>
    }
    else
    {
        <link href="@Url.Content("~/Content/AdminPage.css")" rel="stylesheet" type="text/css" />
    }
    @if (Request.IsAuthenticated)
    {
        @:<link href="@Url.Content("~/Content/Admin.css")" rel="stylesheet" type="text/css"/>
                }
    @if (Request.UserAgent.ToLowerInvariant().Contains("webkit"))
    { 
        @:<link href="@Url.Content("~/Content/Webkit.css")" rel="stylesheet" type="text/css"/>
                }
    @RenderSection("Scripts", required: false)
    <script type="text/javascript">
        var SiteRoot = "@Url.Content("~/").TrimEnd('/')";
    </script>
    <script type="text/javascript" src="http://vkontakte.ru/js/api/share.js?9" charset="windows-1251"></script>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
            fjs.parentNode.insertBefore(js, fjs);
        } (document, 'script', 'facebook-jssdk'));</script>
    <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } } (document, "script", "twitter-wjs");</script>
    
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js">
        { parsetags: 'explicit' } 
    </script> 

</head>
<body>
    <div id="fb-root">
    </div>
    @*<div class="trace"></div>*@
    @{Html.RenderPartial("TopMenu");}
    <div id="page">
        @RenderBody()
    </div>
    @{Html.RenderPartial("Footer");}
</body>
</html>
