@Html.Hidden("pageTitle", "Студия Евгения Миллера - Секретная ссылка")

<script type="text/javascript" src="@Url.Content("~/Controls/fancybox/jquery.fancybox.pack.js")"></script>
<link rel="stylesheet" href="@Url.Content("~/Content/Secret.css")"/>
<link rel="stylesheet" href="@Url.Content("~/Controls/fancybox/jquery.fancybox.css")"/>

@if (Request.IsAuthenticated)
{
    <script type="text/javascript">
        function secretAdded(id) {
            window.open('/Admin/Secret/MakeThumbnail/' + id, '', 'location=no, menubar=no, status=no, toolbar=no, resizable=yes, scrollbars=yes');
        }

        function thumbnailSaved() {
            MBrand.Client.Pages.SecretPage.LoadData();
        }
    </script>
    
    <iframe style="border: 0; width:250px; float: left" src="@Url.Action("AddSecret", "Secret", new {area="Admin"})"></iframe>
}

<script type="text/javascript">
    $(function () {
        $(".secretItem a[rel]").fancybox();
    })
</script>

<script type="text/x-jquery-tmpl" id="secretItemTemplate">
    <div class="secretItem">
        @if (Request.IsAuthenticated)
        {
            <a class="adminLink" href="/Admin/Secret/Delete/{{=Id}}" style="position: absolute">Удалить</a>
        }
        <a rel="gr1" href="@Url.Content("~/Content/secret/"){{=FileName}}">
            <img alt="" src="@Url.Content("~/Content/secret/preview/"){{=FileName}}" />
        </a>
    </div>
</script>

<div id="secretContainer">
    @{Html.RenderAction("GetChild", "Content", new { id = "secretLink" });}
    <div id="secretImages">
        
    </div>
</div>