@using Jackson.Models
@model IEnumerable<Jackson.Models.Item>
@section scripts
{
    <script>
        var GroupId = '@ViewBag.Id';
    </script>
}

@section outer
{
    @{Html.RenderPartial("ItemPopup");}
}

<div id="content">
    
    <a class="topLink left" href="javascript:void(0)">
        <img src="@Url.Content("~/Content/img/goTop.png")" alt="Наверх"/>
    </a>
    <a class="topLink right" href="javascript:void(0)">
        <img src="@Url.Content("~/Content/img/goTop.png")" alt="Наверх"/>
    </a>

    @{Html.RenderPartial("AdminGroupRename", (Group)ViewBag.Group);}
    <ul id="items">
        @foreach (var item in Model)
        {
            <li data-id="@item.Id">
                <a href="#!@Url.Content("~/Files/" + ViewBag.Id + "/" + item.ImageUrl)">
                    <img alt="@item.Id" src="@Url.Content("~/Files/" + ViewBag.Id + "/_thumbs/" + item.ThumbnailUrl)"/>
                </a>
            </li>  
        }
    </ul>
</div>
@{Html.RenderPartial("AdminUpload");}
