@model dynamic
<div class="works-side-bar">
    <a href="/Works/Items/@Model.WorkGroupId" rel="address:/works/@Model.WorkGroupName">
        @Model.WorkGroupTitle.ToUpper()
    </a>
    <p>
        @Html.Raw(Model.Description)
        <br/>
        <span>///////////</span>
    </p>
    
    <div class="side-bar-text">
        @Html.Raw(Model.SideBarText)
    </div>
</div>
<div class="works-content">
    @Html.Raw(Model.Text)
    
    <div class="work-bottom-image">
        <img alt="@Model.Title" src="/Content/workBottomImages/@Model.BottomImage"/>
    </div>
</div>
