@model dynamic
           
@Html.Hidden("pageTitle", "Студия Евгения Миллера - " + (string)Model.Description)

<div class="work-side-bar">
    <a href="/Works/Items/@Model.WorkGroupId" rel="address:/works/@Model.WorkGroupName" class="group-name">
        @Model.WorkGroupTitle.ToUpper()
    </a>
    <p>
        @Html.Raw(Model.Description)
        <span>///////////</span>
    </p>
    
    <div class="side-bar-text">
        @Html.Raw(Model.SideBarText)
    </div>
</div>
<div class="works-content">
    @Html.Raw(Model.Text)
</div>
@if (!string.IsNullOrEmpty(Model.BottomImage))
{
    <div class="work-bottom-image">
        <img alt="@Model.Title" src="/Content/workBottomImages/@Model.BottomImage"/>
    </div>
}