@model dynamic
<div class="works-side-bar">
    <a href="/Works/Items/@Model.WorkGroupId" rel="address:/works/@Model.WorkGroupName">
        @Model.WorkGroupTitle.ToUpper()
    </a>
    <p>
        @Model.Description
        <span>///////////</span>
    </p>
    
    <div class="side-bar-text">
        @Model.SideBarText
    </div>
</div>
<div class="works-content">
    @Model.Text
    
    <div class="work-bottom-image">
        <img alt="@Model.Title" src="/Content/workBottomImages/@Model.BottomImage"/>
    </div>
</div>
